@import 'foundation';
@import 'font-face';

.title-menu-client {
	font-family: "quicksandregular";
	font-weight: bold;
}

.menu-client ul li > a {
	display: block;
	width: 100%;
	color: white;
	padding: 12px 0 12px 0;
	padding-left: 15px;
	font-family: "quicksandregular";
	font-size: 0.8125rem;
	font-weight: bold;
	text-transform: none;
}

@media only screen and (max-width: 40em) {
	/* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		display: none;
		// position: absolute;
		// top: -9999px;
		// left: -9999px;
	}
	#no-more-tables tr {
		border: 1px solid #ccc;
	}
	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		white-space: normal;
		text-align:center;
	}
}

@media only screen and (max-width: 40em) {
	/* (Pricing) Small Tables */
	.sptable {
		border: solid 1px #dddddd;
		margin-left: 0;
		margin-bottom: 1.25rem;
	}
	.sptable * {
		list-style: none;
		line-height: 1;
	}
	.sptable .title {
		background-color: #333333;
		padding: 0.9375rem 1.25rem;
		text-align: center;
		color: #eeeeee;
		font-weight: normal;
		font-size: 1rem;
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	}
	.sptable .price {
		background-color: #f6f6f6;
		padding: 0.9375rem 1.25rem;
		text-align: center;
		color: #333333;
		font-weight: normal;
		font-size: 1.25rem;
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	}
	.sptable .description {
		background-color: white;
		padding: 0.9375rem;
		text-align: center;
		color: #777777;
		font-size: 0.75rem;
		font-weight: normal;
		line-height: 1.4;
		border-bottom: dotted 1px #dddddd;
	}
	.sptable .quantity {
		background-color: white;
		padding: 0.9375rem;
		text-align: center;
		color: #333333;
		font-size: 0.8rem;
		font-weight: normal;
		border-bottom: dotted 1px #dddddd;
	}
	.sptable .cta-button {
		background-color: white;
		text-align: center;
		padding: 1.25rem 1.25rem 1.25;
	}
}